<h4>Content Projections in Action!</h4>
<!-- Using the component -->
<custom-card>
<!--ng-content is insprired by native slot element-->
<!--  Need to add CUSTOM_ELEMENTS_SCHEMA for using multiple placeholders-->
  <card-title><p>Card Title</p></card-title>
<!--  <card-body><p>This is a card body</p></card-body>-->
  <p>This is a card contents</p>
</custom-card>

<h3>Templates Fragments</h3>
<p>This is a normal element</p>
<ng-template #myFragment let-fragmentId="fragmentId">
  <p>This is a template fragment rendered by NgTemplateOutlet, id: {{ fragmentId }}</p>
</ng-template>

<ng-container  [ngTemplateOutlet]="myFragment" [ngTemplateOutletContext]="{fragmentId: '#fragment001'}" ></ng-container>



<h3>Ng Containers</h3>
<section>
  <ng-container>
    <h3>User bio</h3>
    <p>Here's some info about the user</p>
  </ng-container>
</section>

<!--Can render components dynamically with ngComponentOutlet-->
<!--<ng-container [ngComponentOutlet]="PipesComponent" ></ng-container>-->

<h3>Local template variables</h3>
@let userName = user.name ?? 'Fallback userName';
<p>Username from local template variable {{ userName }}</p>
