<p>Title Case Pipe and Date Pipe with UpperCase Pipe {{ company | titlecase }} on {{ purchasedOn | date:'MMMM dd - YY' | uppercase }}</p>
<p>Title Case: {{ 'one,two,three' | titlecase }}</p>
<p>Currency Pipe: {{ amount | currency:'' }}</p>
<p>Decimal Pipe: {{ amount | number:'1.2-3' }}</p>
<p>JSON pipe: {{ person | json }} </p>

<p>KeyValue Pipe</p>
<p *ngFor="let item of person | keyvalue: keepSamePropOrder">
  {{item.key}} : {{item.value}}
</p>

<input type="text" >
<button (click)="addOrder()">Add order</button>

<!--Using a custom pipe with multiple parameters-->
<p>{{ 'Foobar' | orderTransformation: orders : invoices }}</p>
<!--<p>{{ getOrderInvoice('Foobar') }}</p>-->

@if (person.details.yearsOfExperience; as experience) {
  <p>Using new control flow's reference {{ experience }}</p>
  @if (experience === 5) {
    True
  }
}
